/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: 'inter', sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
  line-height: 1;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 96px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;

  display: inline-block;

  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;

  /* text-shadow: 0px 5px 6px black; */
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

img {
  width: 100%;
  border-radius: 12px;
}

/* FEATURES */
.features-icon {
  stroke: #087f5b;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #087f5b;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
  color: #e6fef5;
}

.testimonial-author {
  color: #c3fae8;
}

/* CHAIRS */
.chair-box {
  padding: 32px;
}

.chair {
  box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.chair-details {
  list-style: none;
  margin-bottom: 48px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: #495057;
}

/* ------------------------------------------------------------------------------------------------------ */

.accordian {
  width: 750px;
  /* background-color: red; */
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.items {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;

  row-gap: 32px;
  align-items: center;
}

.text,
.number {
  font-size: 24px;
  font-weight: 500;
  /* color: #099268; */
}

.number {
  color: #ced4da;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  gap: 12px;
}

.open {
  border-top: 4px solid #087f5b;
}

.items.active .hidden-box {
  display: block;
}

/* .open .hidden-box {
  display: block;
} */

/* .open .number,
.open .text {
  color: #087f5b;
} */

/* ------------------------------------------------------------------------------------------=----------- */

.carousel {
  width: 960px;
  background-color: #087f5b;
  margin: 100px auto;
  padding: 32px;
  padding-left: 86px;
  padding-right: 48px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 86px;

  position: relative;
}

.img-carousel {
  border-radius: 8px;

  width: 250px;
  height: 200px;

  transform: scale(1.5);

  box-shadow: 12px 12px 24px rgba(0, 0, 0, 25%);
}

.testimonial-textt {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 500;
  color: #e6fef5;
}

.testimonial-authorr {
  color: #c3fae8;
}

.testimonial-jobb {
  color: #c3fae8;
}

.btnn {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.btn-icons {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);
  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #087f5b;
  cursor: pointer;
}

.dot--fill {
  background-color: #087f5b;
}

/* *******************************************************/

.pagination {
  width: 750px;
  margin: 150px auto;

  display: flex;
  align-items: center;
  gap: 25px;
}

.pagi-btn {
  background-color: #fff;
  border: 2px solid #087f5b;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  cursor: pointer;
}

.pagi-btn:hover {
  background-color: #087f5b;
  color: #fff;
}

.pagi-btn:hover .pagi-icons {
  stroke: #fff;
}

.pagi-icons {
  width: 24px;
  width: 24px;
  stroke: #087f5b;
}

.num {
  font-size: 18px;
  font-weight: 500;
  color: #343a40;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num:link,
.num:visited {
  text-decoration: none;
  border-radius: 100px;
}

.num:hover,
.num:active,
.num.num-show {
  background-color: #087f5b;
  color: #fff;
}

/* ************************************************************************************************* */

.layout {
  font-family: sans-serif;
  color: #343a34;
  font-size: 24px;
  width: 1150px;
  margin: 150px auto;
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
  height: 100vh;
  text-align: center;
  font-weight: bold;
}

.nav,
.aside,
.section {
  padding-top: 25px;
}

.nav {
  background-color: #343a34;
  color: white;
  grid-row: 1/-1;
}

.menu {
  background: #7048e8;
  color: #fff;
  grid-column: 2/-1;

  display: flex;
  align-items: center;
  gap: 12px;
  /* justify-content: flex-start; */
  padding: 0 40px;
}

.section {
  background-color: #e9ecef;
  padding: 40px;
  overflow: scroll;

  display: flex;
  gap: 40px;
  flex-direction: column;
}

.email {
  background-color: #adb5bd;
  font-size: 24px;
  /* padding: 16px 32px; */
  height: 96px;
  display: flex;
  /* gap: 15px */
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.aside {
  background-color: #e9ecef;
}

.btn-menu {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  background-color: #5f3dc4;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-menu:last-child {
  background-color: #d6336c;
  margin-left: auto;
}
